<div class="col-4 m-0 pe-1">
  <input
    type="text"
    class="form-control"
    id="update-recipe--ingredientDescription"
    aria-describedby="update-recipe--ingredientDescriptionHelp"
    required
    name="ingredientDescription[]"
    placeholder="Name"
  />
</div>
<div class="col-3 m-0 pe-1">
  <input
    type="number"
    class="form-control"
    id="update-recipe--ingredientQuantity"
    aria-describedby="update-recipe--ingredientQuantityHelp"
    name="ingredientQuantity[]"
    placeholder="Quantity"
  />
</div>
<div class="col-3 m-0 pe-1">
  <input
    type="text"
    class="form-control"
    id="update-recipe--ingredientUnit"
    aria-describedby="update-recipe--ingredientUnitHelp"
    name="ingredientUnit[]"
    placeholder="Unit"
  />
</div>
<div class="col-2 m-0 ps-2">
  <button
    class="btn btn-outline-cct-russet remove_update_recipe_ingredient_btn"
  >
    <i class="bi bi-x-lg"></i>
  </button>
</div>
